.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color .5s ease;
  }
  .header p{
    font-weight: bold;
    font-size: 1.5rem;
    align-self: flex-end;
    transition: color .5s ease;
    color: white;
  }
  .Numbers{
    grid-column: 2/-1;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    gap: 8px;
  }
  .toggle_container{
    width: 80px;
    height: 30px;
    background-color:hsl(224, 36%, 15%);
    border-radius: 40px;
    box-shadow: 0 0 2px hsl(222, 26%, 31%);
    padding: 5px;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    cursor: pointer;
  }
  .theme span{
    grid-row: 2/-1;
    font-size: 1.3rem;
    align-self: flex-end;
    color: white;
    transition: color .5s ease;
  }
  .toggle{
    width: 20px;
    height: 20px;
    background-color: hsl(6, 70%, 34%);
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1);
    transition: background-color .3s ease;
  }
  .toggle:hover{
    background-color: hsl(6, 63%, 50%);
  }
  .theme{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  }


.header-theme-2 p, .header-theme-2 span{
    color: black;
}
.t-c-theme-2{
  background-color: hsl(0, 5%, 81%);
}
.toggle-theme-2{
  background-color: hsl(25, 98%, 40%);
}
.toggle-theme-2:hover{
  background-color: hsl(25, 73%, 55%);
}
.header-theme-3 p, .header-theme-3 span{
  color: hsl(52, 100%, 62%);
}
.t-c-theme-3{
  background-color: hsl(268, 71%, 12%);
}
.toggle-theme-3{
  background-color: hsl(176, 100%, 44%);
}
.toggle-theme-3:hover{
  background-color: hsl(177, 92%, 70%);
}
@media screen and (max-width:500px){
  .header p{
    font-size: 1.2rem;
  }
  .header span{
    font-size: 1.2rem;
    text-align: center;
  }
}