.table{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: hsl(223, 31%, 20%);
    gap: 5px;
    flex-grow: 1;
    padding: 20px ;
    place-items: center;
    border-radius: 10px;
    transition: background-color .5s ease;
  }
  .cell{
    width: 80px;
    height: 50px;
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0 3px  hsl(28, 16%, 65%) ;
    text-align: center;
    line-height: 50px;
    color:hsl(221, 14%, 31%);
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background-color .5s ease,color .5s ease,box-shadow .5s ease;
  }
  .cell:hover{
    background-color:hsl(0, 0%, 100%);
  }
  .cell:nth-of-type(4){
    background-color:hsl(224, 28%, 35%);
    box-shadow:  0 3px   hsl(225, 21%, 49%);
    color: white;
  }
  .cell:nth-of-type(17){
    grid-column: 1/3;
    background-color: hsl(224, 28%, 35%); 
    box-shadow:  0 3px  hsl(225, 21%, 49%)  ;
    color: white;
    width: 90%;
  }
  .cell:nth-of-type(17):hover,.cell:nth-of-type(4):hover{
    background-color: hsl(225, 21%, 49%);
    box-shadow:0 4px hsl(224, 28%, 35%) ;
  }
  .cell:nth-of-type(18){
    grid-column: 3/-1;
    background-color: hsl(6, 63%, 50%) ;
    color: white;
    box-shadow:0 4px  hsl(6, 70%, 34%) ;
    width: 90%;
  }
  .cell:nth-of-type(18):hover{
    background-color:hsl(6, 45%, 55%)  ;
  }
  .table-theme-2{
    background-color: hsl(0, 5%, 81%);
    
  }
  .cell-theme-2{
    background-color: hsl(45, 7%, 89%);
    color:hsl(60, 10%, 19%);
    box-shadow: 0 4px  hsl(35, 11%, 61%);
  }
  .cell-theme-2:nth-of-type(18){
    background-color: hsl(25, 98%, 40%);
    box-shadow: 0 4px  hsl(25, 99%, 27%);

  }
  .cell-theme-2:nth-of-type(18):hover{
    background-color:hsl(25, 73%, 55%);
  }
  .cell-theme-2:nth-of-type(17),.cell-theme-2:nth-of-type(4){
    background-color: hsl(185, 58%, 25%);
    box-shadow:0 3px  hsl(185, 42%, 37%);
  }
  .cell-theme-2:nth-of-type(17):hover,.cell-theme-2:nth-of-type(4):hover{
    background-color:hsl(185, 42%, 37%);
    box-shadow:  0 3px hsl(185, 58%, 25%) ;
  }

  /*Tema 3*/
  .table-theme-3{
    background-color: hsl(268, 71%, 12%);
  }
  .cell-theme-3{
    background-color: hsl(268, 47%, 21%);
    box-shadow: 0 3px  hsl(290, 70%, 36%);
    color: hsl(52, 100%, 62%);
  }
  .cell-theme-3:hover{
    background-color: hsl(281, 89%, 26%);
    box-shadow: 0 2px hsl(290, 70%, 36%);
  }
  .cell-theme-3:nth-of-type(17),.cell-theme-3:nth-of-type(4){
    background-color:  hsl(290, 70%, 36%);
    box-shadow: 0 3px  hsl(281, 89%, 26%);
  }
  .cell-theme-3:nth-of-type(18){
    background-color: hsl(176, 100%, 44%);
    box-shadow: 0 3px hsl(177, 92%, 70%);
    color: hsl(198, 20%, 13%);
  }
  .cell-theme-3:nth-of-type(18):hover{
      background-color: hsl(177, 92%, 70%);
      box-shadow: 0 2px hsl(176, 100%, 44%);
  }
  .cell-theme-3:nth-of-type(4):hover,.cell-theme-3:nth-of-type(17):hover{
    background-color: hsl(285, 91%, 52%);
    box-shadow: 0 3px hsl(281, 89%, 26%);
  }
  @media screen and (max-width:500px){
    .cell{
      width: 60px;
      font-size: 1.2rem;
    }
  }
  @media screen and (max-width:370px){
    .cell{
      width:50px;

    }
    .cell:nth-of-type(18){
      width: 100%;
    }
  }